# dependencies
/node_modules

# next
/.next
/out

# production
/build

# local env
.env
.env*.local

# prisma
/prisma/dev.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev-server*.log

# system
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
